venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.env
data/raw_videos/
data/sessions/
data/models/
data/features/
data/raw_videos/hf/dataset_index.json
data/raw_videos/hf/metadata.jsonl
data/incoming/
data/results
docs/
examples/
mlruns/
*.db
Dockerfile
*.pt